//- 新添加的留言
section.message-li.messageNew
    .comment
        .comment-avatar
            img(src=data.avatar, title=data.nickname)
        .comment-body
            .comment_author
                a(href=data.link || "javascript:;", title=data.nickname, target="_blank") #{data.nickname}
            if(data.replyid)
                .comment_quote
                    p @#{data.replyname}
                    p #{data.replycontent}
            .comment_text
                p #{data.content}
            .comment_other
                small #{data.datetime}
                a(href='javascript:;', data-id=data._id, data-nickname=data.nickname onclick='replyMessage(this)') 回复
