//- 通过ajax加载的留言
each item in data
    section.message-li
        .comment
            .comment-avatar
                img(src=item.avatar, title=item.nickname)
            .comment-body
                .comment-author
                    a(href=item.link || "javascript:;", title=item.nickname, target="_blank") #{item.nickname}
                if(item.replyid)
                    .comment-quote
                        p @#{item.replyname}
                        p #{item.replycontent}
                .comment_text
                    p #{item.content}
                .comment-other
                    small #{item.datetime}
                    a(href='javascript:;', data-id=item._id, data-nickname=item.nickname onclick='replyMessage(this)') 回复