
//- 网站首页

extends ../common/layout

block content

	.page-title-box.message
		.page-title-content
			h1 Messages
			p 有什么想吐槽的 想说的都可以哟 拒绝py交易

	.message-box
		.respond-box
			h4.respond-title 输入你的想法
			form#message-form
				input(name='replyid', type='hidden')
				.input-row
					input.form-control(name='nickname', type='text', placeholder='昵称:', value=user.nickname || "")
					input.form-control(name='email', type='text', placeholder='邮箱:', value=user.email || "")
					input.form-control(name='link', type='text', placeholder='博客:(可不填写)', value=user.link || "")
				.input-row
					textarea.form-control(name='content', placeholder='随便说点什么叭！', rows='5')
				a(href='javascript:;', onclick='messageSubmit(this)') send
		if (messages.length == 0)
			h4.NoData 未查询到数据！
		else
			article.message-list
				each item in messages
					section.message-li
						.comment
							.comment-avatar
								img(src=item.avatar, title=item.nickname)
							.comment-body
								.comment_author
									a(href=item.link || "javascript:;", title=item.nickname, target="_blank") #{item.nickname}
								if(item.replyid)
									.comment_quote
										p @#{item.replyname}
										p #{item.replycontent}
								.comment_text
									p #{item.content}
								.comment_other
									small #{item.time}
									a(href='javascript:;', data-id=item._id, data-nickname=item.nickname onclick='replyMessage(this)') 回复
			.btn-load(href="javascript:;", onclick='loadMessage(this)') 点击加载更多
